<!DOCTYPE html>
<html>
<head>
    <title>Tentang Sistem</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>🔬 Inventaris Lab</h2>

    <a href="/">📊 Dashboard</a>
    <a href="/">📦 Inventaris</a>
    <a href="/laporan">📄 Laporan</a>
    <a href="/tentang">👤 Tentang</a>
    <a href="/logout">🚪 Logout</a>

</div>

<div class="main-content">

    <div class="card">

        <h1>👤 Tentang Sistem</h1>

        <p><b>Nama Project:</b> Sistem Inventaris Laboratorium</p>

        <p><b>Dibuat Oleh:</b></p>
        <ul>
            <li>Davan Dika Arfiansyah</li>
        </ul>

        <p><b>Teknologi:</b></p>
        <ul>
            <li>Python Flask</li>
            <li>Supabase</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>

        <p>
            Sistem ini digunakan untuk mengelola inventaris laboratorium,
            mulai dari tambah data, edit data, hapus data,
            pencarian data, hingga pencetakan laporan.
        </p>

    </div>

</div>

</body>
</html>